<!-- <ul *ngIf="userName">
 
    <li><a routerLink='kids'>Kids</a></li>
    <li><a (click)="navigateTo('sale')">Sale</a></li>
    <li><a (click)="navigateTo('uscis')">uscis</a></li>
    <li><a (click)="navigateTo('university')">University</a></li>
    <li><a (click)="navigateTo('women-sale')">Women-Sale</a></li>
    <li><a (click)="navigateTo('university-lazy-loading')">University Lazy Loading</a></li>
    <li><a (click)="navigateTotestingTheButton()">Testing</a></li>
    <li><a (click)="navigateToOutput('output')">University Table using input and output</a></li>
    <li *ngIf="!userName"><a (click)="navigateToLogin()">login</a></li>
    <li><a (click)="navigateToSignup()">signup</a></li>
<li><a (click)="logoutClick()">logout</a></li>

    <p style="color: white;">Loggedin  as: {{userName}}</p>

</ul> -->

<ul>
    <li *ngFor="let navItem of navItems" [ngClass]="{active: navItem?.isActive}">
        <a *ngIf="navItem?.showItem" (click)="navigateTo(navItem?.navigateUrl)" >{{navItem?.label}}</a>
    
    
    </li>
    <li><a routerLink="/about">About</a></li>

</ul>

