<button (click)="getDetails()">Click Here</button>
<br>
<button (click)="extractVillageFromCustomer()">Extract Village from Customer</button>
<br>
<button (click)='extractingTheZipCode()'>Extract ZipCode</button>

<h2>Check Case Status</h2> 
<h6>Use this tool to track the status of an immigration application, petition, or request.
</h6>

<p>The receipt number is a unique 13-character identifier that consists of three letters and 10 numbers. Omit dashes ("-") when entering a receipt number. However, you can include all other characters, including asterisks ("*"), if they are listed on your notice as part of the receipt number. When a receipt number is entered, the "Check Status" button will be enabled and you can check the status.
Enter a Receipt Number</p>


<hr>

<app-related-tools></app-related-tools>
<hr>

<app-footer></app-footer>
<app-footer /> 