<form [formGroup]="studentUpdateForm">


    <input type="text" name="" id="" formControlName="studentName" placeholder="name">
    <br>
    <input type="text" name="" id="" formControlName="studentId" placeholder="ID">
    <br>
    <input type="tel" name="" id="" formControlName="studentPhoneNumber" placeholder="Phone">
    <br>
    <input type="text" name="" id="" formControlName="course" placeholder="course">
    <br>
    <input type="number" name="" id="" formControlName="year" placeholder="year">
    <br>
    <input type="text" name="" id="" formControlName="country" placeholder="country">
    <br>


</form>

<button (click)="updateForm()">Update</button>