<div class="course-card">
    <div class="course-info">
        <h3 class="course-title">{{makeName}}</h3>
        <p class="course-author">{{vehicleTypeName}}</p>
        <div class="course-price">
            <span class="current-price">{{vehicleTypeId}}</span>
            <span class="original-price">{{makeId}}</span>
        </div>
        <div class="course-labels">
            <span class="label premium">Add To Cart</span>
            <!-- <span class="label bestseller">MOST-VIEWED</span> -->
        </div>
    </div>
</div>
